 <br/>
<button class="btn btn-primary" ng-click="home.exist(home.contacts._id)">Exist ?</button>

<h1 class="text-center">The Contact App <small>Cozy Cloud</small></h1>
<div class="container-fluid text-center">
    <form class="form-inline" name="form">
      <div class="form-group">
        <label>Name:</label>
        <input type="text" ng-model="contact.n" class="form-control">
      </div>
       <input type="submit" class="btn btn-success uppercase" ng-click="send(contact)" value="Send" > 
       
    </form>
</div>
<br/>
<div class="table-responsive text-center col-md-12">
    <table class="table">
        <tr class="active">
            <td>Name</td>
            <td>Actions</td>  
        </tr>
        <tr ng-repeat="contact in contacts track by $index">
            <td>
            <input type="text" ng-model="contact.n" class="form-control" placeholder="{{contact.key}}">
            <button class="btn btn-warning" ng-click="update(contact.id)">Update</button> 
            </td>
            <td ng-if="!updated && updateId !== contact.id">{{contact.key}}</td>
            <td>
                <button class="btn btn-danger" ng-click="destroy(contact.id)">Destroy</button>
                
            </td>
        </tr>
    </table>
</div>